<h1 style="font-size: 3em; color: #262e5c; background-color: #f2ebf0; padding: 13px; text-align: center; ">
<%= @article.title %>
</h1>
<p style="font-size: 2em; color: #3bbfa9; background-color: #f2ebf0;">
<%= @article.body %>
</p>